[submodule "ecommerce-frontend"]
    path = ecommerce-frontend
    url = <git@github.com:Alben11/ecommerce-frontend.git>

[submodule "ecommerce-backend"]
    path = ecommerce-backend
    url = <git@github.com:Alben11/ecommerce-backend.git>